/* Change Autocomplete styles in Chrome*/
/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--color);
  transition: background-color 5000s ease-in-out 0s;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to{
  opacity: 0;
}

:root {
	--color: #ffffff;
	// --color-primary: #158876;
	// --color-secondary: #0e2233;
	// --bg: #f3f5f4;
	// --bg-secondary: #fff;
	// --border-color: #ddd;
	// --bg-color-button: RGB(204, 1, 0);
	--btn-primary: #CC0100;
}

.theme--dark {
	--color: #ebf4f1;
	--color-primary: #41b38a;
	--color-secondary: #fdf9f3;
	--bg: #546a7b;
	--bg-secondary: #071521;
	--border-color: #0d2538;
	--input-bg: #1E1E1E;
}
.theme--light{
	--color: #000000;
	--color-primary: #41b38a;
	--color-secondary: #504231;
	--bg: #f1e7d0;
	--bg-secondary: #eae0c9;
	--border-color: #ded0bf;
	--input-bg: ##FFFFFF;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}
a {
    color: var(--color-primary);
}
  
.pac-container {
	position: absolute;
	top: 100%;
	left: 0;
	float: left;
	min-width: 10rem;
	padding: 0.5rem 0;
	margin: 0.125rem 0 0;
	list-style: none;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
}
  
  .pac-item {
	font-size: 12px;
	font-family: Arial;
	width: 100%;
	color: #3d3d3d;
	width: 100%;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	white-space: nowrap;
	background: none;
	border: 0;
}
  
.pac-item:hover,
.pac-item:focus {
	color: rgb(88, 88, 88);
	text-decoration: none;
	background-color: #bfbfbf;
}
  
.pac-item-selected {
	text-decoration: none;
	background-color: #f0f0f0;
}
  
.pac-icon {
	display:none;
}
  
.pac-item-query {
	font-size: 16px;
	color: #4b4b4b;
	font-weight: bold;
	margin-left: 1em;
}

.animation-in {
  transform-origin: left;
  animation: in 0.6s ease-in-out;
}
.animation-out {
  transform-origin: bottom left;
  animation: out 0.6s ease-in-out;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container i {
  margin-right: 10px;
}

.my-input {
  width: 100%;
}

.search-location{
  border: solid 1px;
  border-color: #5c5c5c;
  border-radius: 4px;
  margin: 15px 0px 15px 0px;
  padding: 15px 15px 15px 15px;
  width: 100%;
  color: var(--color);

}
.v-application .success--text{
  color: var(--color-primary) !important;
}
.v-alert{
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
} 

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #000000da;
}

.modal {
  text-align: center;
  height: 400px;
  width: 700px;
  margin-top: 10%;
  padding: 30px 0;
  border-radius: 20px;
}

.main-btn{
  background-color: var(--btn-primary);
}

.v-application a {
  color: var(--color);
}
.v-data-table-header {
  .text-start{
    text-transform: capitalize;
    font-size: 1rem !important;
    color: #CC0100 !important;
  }
}

.v-data-table > .v-data-table__wrapper tbody tr.v-data-table__expanded__content{
  box-shadow: none !important;
}

.loading {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @keyframes circle-loading {
    to {
      transform: rotateZ(360deg);
    }
  }

  span {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #CC0100;
    animation: circle-loading 1000ms ease infinite;
  }
}

.centered-button {
	display: flex;
}

.centered-button .v-btn {
	flex-basis: 0;
	flex-grow: 1;
}

.fade-leave-active {
   transition: opacity 1s;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
	transition: opacity 1s;

  opacity: 0;
}